################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApertureLabs.Selenium.NopCommerce.PageObjects/bin
/ApertureLabs.Selenium.NopCommerce.PageObjects/obj
/ApertureLabs.Selenium.NopCommerce.PO.Tests/obj
/ApertureLabs.Selenium.NopCommerce.PO.Tests/bin/Debug/netcoreapp2.1
